<header class="c-header">
  <nav class="c-header__gnav">
    <div class="c-header__logo">
      <a href=".<%= BASE_URL %>">
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/img/logo-sp.png">
          <img src="./assets/img/logo.png" alt="ENTEX">
        </picture>
        <span class="c-header__slogan">Recruitment 2020</span>
      </a>
    </div>  
    <ul class="c-header__list">
      <% if (typeof linklists != 'undefined') { %>
        <% linklists.main && linklists.main.forEach(link => { %>
          <li>
            <a class="c-header__link" <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
          </li>
        <% }) %>
      <% } %>
    </ul>
    <div class="c-header__right">
      <div class="c-header__btnrecruit">
        <a href="#recruit">
          <img class="c-header__imgrecruit" src="./assets/img/assignment.svg" alt="募集要項">
          <span class="c-header__txtrecruit">募集要項</span>
        </a>
      </div>
      <div class="c-header__iconmenu">
        <span class="c-header__line"></span>
        <span class="c-header__line"></span>
        <span class="c-header__line"></span>
      </div>
    </div>
    <div class="c-header__gnavmb">      
      <ul class="c-header__overlay">
        <% if (typeof linklists != 'undefined') { %>
          <% linklists.main && linklists.main.forEach(link => { %>
            <li class="c-header__navmb">
              <a class="c-header__linkmb" <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
            </li>
          <% }) %>
        <% } %> 
      </ul>
      <div class="c-header__btnrecruit c-header__btninner">
        <a href="#recruit">
          <img class="c-header__imgrecruitinner" src="./assets/img/assignment.svg" alt="募集要項">
          <span class="c-header__txtrecruitinner">募集要項</span>
        </a>
      </div>
    </div>
  </nav>  
</header>
